<!DOCTYPE html>


{% block content %}
{% load static %}

<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <div class="center">
        <div class="video_border">
            <form action="{% url 'location' %}" method="post">
                {% csrf_token %}
                <h2><label for="ip">Please enter your IP and Cat will try to find you 😊 </label></h2>
                <h2>(example: 212.58.103.184) </h2>

                <input id="ip" type="text" name="ip" value="{{ ip_address }}">
                <button type="submit">Submit</button>
            </form>
            <p>
                {% if error %}
                    {{ error }}
                {% endif %}
            </p>
            <p>{{ form.non_field_errors }}</p>
            <link type="text/css" href="{% static 'persik/css/styles.css' %}" rel="stylesheet" />
        </div>
        <p><a href="{% url 'base' %}" style="--clr:#FFFAFA"><span> Back to Main Page </span><i></i></a></p>
    </div>

</body>
</html>
{% endblock %}