<!DOCTYPE html>

{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dino Cat</title>
    <link type="text/css" href="{% static 'persik/css/styles.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'persik/css/styles(game).css' %}" rel="stylesheet" />
        <!-- Connecting google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap" rel="stylesheet">


</head>
<body>
    <div id="container">
        <div id="dino">
            <img src="{% static 'persik/images/Cat1.png' %}" alt="dino">
        </div>
        <div id="block">
            <img src="{% static 'persik/images/Dog1.jpg' %}" alt="block">
        </div>
        <div id="road">
            <img src="{% static 'persik/images/Track.png' %}" alt="road">
        </div>
        <div id="cloud">
            <img src="{% static 'persik/images/clouds4.png' %}" alt="cloud">
        </div>
        <div id="score">Score <b>00</b></div>
        <div id="gameOver">Game Over</div>
    </div>

    <p><a href="{% url 'base' %}" style="--clr:#FFFAFA"><span> Back to Main Page </span><i></i></a></p>

    <script src="{% static 'persik/js/game.js' %}"></script>
</body>
</html>
