<!DOCTYPE html>


{% block content %}
{% load static %}

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'persik/css/styles.css' %}" rel="stylesheet" />
</head>
<body>

<div class="center">
    <div class="text_border_2">
        <h2> Please load there any picture and Persik will try to recognize if there is a Cat.</h2>
        <h2> The accuracy is about 75 % 😊</h2>
        <form method="POST" action="" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form }}
            <p><button type="submit">Submit</button></p>
        </form>

        {% if photo %}
            <img src="{{ photo.file.url }}" alt="" width="300" height="300">
        {% endif %}
        <p>
        <p>
        {% if error %}
            {{ error }}
        {% endif %}
        </p>

        <h3>
        {% for res in result %}
            {% if res == '0' %}
                Probably not a Cat 😟
            {% else %}
                Probably that's a Cat 😊
            {% endif %}
        {% endfor %}
        </h3>
    </div>

    <p><a href="{% url 'base' %}" style="--clr:#FFFAFA"><span> Back to Main Page </span><i></i></a></p>
</div>

</body>
</html>
{% endblock %}